<h3>Parsed Raw Tweets</h3>
<% @parsed_raw_tweet_count.each do |count_row| %>
  <p> Record Count: <%= count_row["prt_count"] %></p>
<% end %>
<h4>Breakdown by parse status</h4>
<div class="row">
  <div class="span4">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Status</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
      <% @parse_status_count.each do |count_row| %>
        <tr>
          <td><%= count_row.parse_status %></td>
          <td><%= count_row.parse_status_count %></td>
        </tr>
      <% end %>
        <tr class="total">
          <td>Total</td>
          <% @parsed_raw_tweet_count.each do |count_row| %>
          <td><%= count_row["prt_count"] %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span8">
  </div>
</div>