<h1 class="menu">Dashboard</h1>
<p>This is a dashboard</p>

<p> number of records in new_raw_tweets is <%= @new_tweets.count %></p>
<p> number of records in parsed_raw_tweets is <%= @parsed_tweets.count %></p>
<p> number of records in tweets is <%= @tweets.count %></p>
<p> number of records in users is <%= @users.count %></p>