
body{
    background: url("../assets/graph-tile.png") repeat scroll center top transparent;    
}

.centre{
    text-align:center;
}

.full-width{
    margin-left: -20px;
    margin-right: -20px;   
}


a.menu{
    text-decoration: underline;
}

h4, h5{
    margin-bottom: 9px;
}

dt, dd{
    margin-bottom: 6px;
}

.brand:hover{
    background-color: transparent;  
}